/* App.css */
.App {
    background-image: url('./k2.png'); /* Update the path to your image */
    background-size: cover; /* Ensures the background image covers the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    height: 100vh; /* Ensures the div covers the full height of the viewport */
    width: 100%;
}
